# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.QuantumBudgetBackend.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Business\Clients\Myself\quantumbudget\quantumbudget-backend\src\quantumbudget-api\.idea\.idea.QuantumBudgetBackend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
